<%- include("inc/header") -%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Alunos e Relação de notas
        </h1>
        <ol class="breadcrumb">
          <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
          <li class="active">Alunos</li>
        </ol>
      </section>

      <section class="content container-fluid">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#notas" data-toggle="tab" aria-expanded="true">Notas</a></li>
              </ul>

              <div class="tab-content">
                <div id="form-filtrar">
                  <form action="">
                    <div class="form-group">
                      <label for="filtro_matricula">Matricula</label>
                      <input type="number" class="form-control" id="filtro_matricula" name="filtro_matricula">
                    </div>
  
                    <div class="form-group">
                      <label for="filtro_nome_aluno">Nome Aluno</label>
                      <input type="text" class="form-control" id="filtro_nome_aluno" name="filtro_nome_aluno">
                    </div>
                  
                  <div style="margin-bottom: 10px;" >
                    <button class="btn btn-info btn-filtrar" type="submit"> <i class="fa fa-search"></i> Filtrar </button>
                    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#modal-create"><i
                      class="fa fa-plus"></i>
                    Cadastrar Notas</a>
                  </div>
                </form>
              </div>

                <div class="tab-pane active" id="notas">
                    <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Lista</h3>
                    </div>
                    <div class="box-header" style="height:44px;">
                      <ul class="pagination pagination-sm no-margin pull-right">
                        <% links.forEach(link => { %> 
                          <li <% if(link.active){ %> class="active"<% } %>><a href="<%= link.href %>"> <%= link.text %> </a></li>
                        <% }); %> 
                      </ul>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Matrícula</th>
                            <th> Aluno </th>
                            <th style="width: 80px">Série</th>
                            <th>Português</th>
                            <th>Inglês</th>
                            <th style="min-width: 80px;">Estudos sociais</th>
                            <th>História</th>
                            <th>Geografia</th>
                            <th>Ciências</th>
                            <th>Nota</th>
                            <th>Matemática</th>
                            <th>Artes</th>
                            <th>Religião</th>
                            <th>Educação Física</th>
                            <th>Informática</th>
                            <th>Espanhol</th>
                            <th>Ações</th> 
                          </tr>
                        </thead>
                        <tbody>
                          <% data_nota.forEach(function(row){ %>
                          <tr data-row='<%= JSON.stringify(row) %>'>
                            <td><%= row.id_aluno %></td>
                            <td><%= row.nome_aluno %></td>
                            <td><%= row.id_serie %>° ano </td>
                            <td><%= row.nota_protugues %></td>
                            <td><%= row.nota_ingles %></td>
                            <td><%= row.nota_estudosS %></td>
                            <td><%= row.nota_historia %></td>
                            <td><%= row.nota_geografia %></td>
                            <td><%= row.nota_ciencias %></td>
                            <td><%= row.nota %></td>
                            <td><%= row.nota_matematica %></td>
                            <td><%= row.nota_artes %></td>
                            <td><%= row.nota_religiao %></td>
                            <td><%= row.nota_edFisica %></td>
                            <td><%= row.nota_informatica %></td>
                            <td><%= row.nota_espanhol %></td>
                            <td><button type="button" class="btn btn-xs btn-info btn-update" ><i
                              class="fa fa-pencil"></i> Editar</button>
                          </tr>
                        <% }); %>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                      <ul class="pagination pagination-sm no-margin pull-right">
                        <% links.forEach(link => { %> 
                          <li <% if(link.active){ %> class="active"<% } %>><a href="<%= link.href %>"> <%= link.text %> </a></li>
                        <% }); %> 
                      </ul>
                    </div>
                    <!-- /.box-footer -->
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>
      
    </div> 
    
    <div class="modal fade" id="modal-update">
        <div class="modal-dialog">
          <div class="modal-content" style="border-top: 3px solid #00c0ef;">
            <form method="POST" action="/notas">
              <input type="hidden" name="id_nota">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Editar Aluno</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                    <label for="id_aluno" required name="nome_aluno"></label>
                </div>
    
                <div class="form-group">
                    <label for="serie">Série</label>
                    <select class="form-control" required id="id_serie" name="id_serie">
                        <option value="" selected="selected">Selecione uma série</option>
                        <option value="1">1° Ano</option>
                        <option value="2">2° Ano</option>
                        <option value="3">3° Ano</option>
                        <option value="4">4° Ano</option>
                        <option value="5">5° Ano</option>
                        <option value="6">6° Ano</option>
                        <option value="7">7° Ano</option>
                        <option value="8">8° Ano</option>
                        <option value="9">9° Ano</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="dias_letivos">Dias letivos</label>
                    <input type="number" required class="form-control" id="dias_letivos" name="dias_letivos">
                </div>
    
                <div class="form-group">
                    <label for="estabelecimento">Estabelecimento</label>
                    <select class="form-control" required id="estabelecimento" name="estabelecimento">
                        <option value="Teste">Teste</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="resultado">Resultado</label>
                    <select class="form-control" required id="resultado" name="resultado">
                        <option value="" selected="selected">Selecione um Resultado</option>
                        <option value="aprovado">Aprovado</option>
                        <option value="reprovado">Reprovado</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="ano">Ano</label>
                    <input type="number" class="form-control" id="ano" name="ano">
                </div>
    
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select class="form-control" id="estado_aluno" name="estado">
                        <option value="" selected="selected">Selecione um estado</option>
                        <option value="pe">Pernambuco</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <select class="form-control" id="cidade_aluno" name="cidade">
                        <option value="" selected="selected">Selecione uma cidade</option>
                        <option value="recife">Recife</option>
                    </select>
                </div>
    
                <div class="form-group">
                  <label for="nota_protugues">Nota em Português</label>
                  <input type="number" class="form-control" id="nota_protugues" name="nota_protugues">
                </div>
    
                <div class="form-group">
                    <label for="nota_ingles">Nota em Inglês</label>
                    <input type="number" class="form-control" id="nota_ingles" name="nota_ingles">
                </div>
    
                <div class="form-group">
                    <label for="nota_estudosS">Nota em Estudos sociais</label>
                    <input type="number" class="form-control" id="nota_estudosS" name="nota_estudosS">
                </div>
    
                <div class="form-group">
                    <label for="nota_historia">Nota em História</label>
                    <input type="number" class="form-control" id="nota_historia" name="nota_historia">
                </div>
    
                <div class="form-group">
                    <label for="nota_geografia">Nota em Geografia</label>
                    <input type="number" class="form-control" id="nota_geografia" name="nota_geografia">
                </div>
    
                <div class="form-group">
                    <label for="nota_ciencias">Nota em Ciências</label>
                    <input type="number" class="form-control" id="nota_ciencias" name="nota_ciencias">
                </div>
    
                <div class="form-group">
                    <label for="nota">Nota em Nota</label>
                    <input type="number" class="form-control" id="nota" name="nota">
                </div>
    
                <div class="form-group">
                    <label for="nota_matematica">Nota em Matemática</label>
                    <input type="number" class="form-control" id="nota_matematica" name="nota_matematica">
                </div>
    
                <div class="form-group">
                    <label for="nota_artes">Nota em Artes</label>
                    <input type="number" class="form-control" id="nota_artes" name="nota_artes">
                </div>
    
                <div class="form-group">
                    <label for="nota_religiao">Nota em Religião</label>
                    <input type="number" class="form-control" id="nota_religiao" name="nota_religiao">
                </div>
    
                <div class="form-group">
                    <label for="nota_edFisica">Nota em Educação Física</label>
                    <input type="number" class="form-control" id="nota_edFisica" name="nota_edFisica">
                </div>
    
                <div class="form-group">
                    <label for="nota_informatica">Nota em Informática</label>
                    <input type="number" class="form-control" id="nota_informatica" name="nota_informatica">
                </div>
    
                <div class="form-group">
                    <label for="nota_espanhol">Nota em Espanhol</label>
                    <input type="number" class="form-control" id="nota_espanhol" name="nota_espanhol">
                </div>
    
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-info">Salvar</button>
              </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-create">
      <div class="modal-dialog">
        <div class="modal-content" style="border-top: 3px solid #00a65a;">
          <form method="POST" action="/notas">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Cadastro de Notas</h4>
            </div>
            <div class="modal-body">

            <div class="form-group">
                <label for="id_aluno">Aluno</label>
                <select class="form-control" required id="id_aluno_create" name="id_aluno">
                    <option value="" selected="selected">Selecione uma Aluno</option>
                    <% nomeAlunos.forEach(function(row){ %>
                    <option value="<%= row.id_aluno %>"> <%= row.nome_aluno %> </option>
                    <% }); %>
                </select>
            </div>

            <div class="form-group">
                <label for="serie">Série</label>
                <select class="form-control" required  id="id_serie_create" name="id_serie">
                    <option value="" selected="selected">Selecione uma série</option>
                    <option value="1">1° Ano</option>
                    <option value="2">2° Ano</option>
                    <option value="3">3° Ano</option>
                    <option value="4">4° Ano</option>
                    <option value="5">5° Ano</option>
                    <option value="6">6° Ano</option>
                    <option value="7">7° Ano</option>
                    <option value="8">8° Ano</option>
                    <option value="9">9° Ano</option>
                </select>
            </div>

            <div class="form-group">
                <label for="dias_letivos">Dias letivos</label>
                <input type="number" required class="form-control" id="dias_letivos_create" name="dias_letivos">
            </div>

            <div class="form-group">
                <label for="estabelecimento">Estabelecimento</label>
                <select class="form-control" required id="estabelecimento_create" name="estabelecimento">
                    <option value="Teste">Teste</option>
                </select>
            </div>

            <div class="form-group">
                <label for="resultado">Resultado</label>
                <select class="form-control" id="resultado_create" name="resultado">
                    <option value="" selected="selected">Selecione um Resultado</option>
                    <option value="aprovado">Aprovado</option>
                    <option value="reprovado">Reprovado</option>
                </select>
            </div>

            <div class="form-group">
                <label for="ano">Ano</label>
                <input type="number" class="form-control" id="ano_create" name="ano">
            </div>

            <div class="form-group">
                <label for="estado">Estado</label>
                <select class="form-control" id="estado_aluno_create" name="estado">
                    <option value="" selected="selected">Selecione um estado</option>
                    <option value="pe">Pernambuco</option>
                </select>
            </div>

            <div class="form-group">
                <label for="cidade">Cidade</label>
                <select class="form-control" id="cidade_aluno_create" name="cidade">
                    <option value="" selected="selected">Selecione uma cidade</option>
                    <option value="recife">Recife</option>
                </select>
            </div>

            <div class="form-group">
              <label for="nota_protugues">Nota em Português</label>
              <input type="number" class="form-control" id="nota_protugues_create" name="nota_protugues">
            </div>

            <div class="form-group">
                <label for="nota_ingles">Nota em Inglês</label>
                <input type="number" class="form-control" id="nota_ingles_create" name="nota_ingles">
            </div>

            <div class="form-group">
                <label for="nota_estudosS">Nota em Estudos sociais</label>
                <input type="number" class="form-control" id="nota_estudosS_create" name="nota_estudosS">
            </div>

            <div class="form-group">
                <label for="nota_historia">Nota em História</label>
                <input type="number" class="form-control" id="nota_historia_create" name="nota_historia">
            </div>

            <div class="form-group">
                <label for="nota_geografia">Nota em Geografia</label>
                <input type="number" class="form-control" id="nota_geografia_create" name="nota_geografia">
            </div>

            <div class="form-group">
                <label for="nota_ciencias">Nota em Ciências</label>
                <input type="number" class="form-control" id="nota_ciencias_create" name="nota_ciencias">
            </div>

            <div class="form-group">
                <label for="nota">Nota em Nota</label>
                <input type="number" class="form-control" id="nota_create" name="nota">
            </div>

            <div class="form-group">
                <label for="nota_matematica">Nota em Matemática</label>
                <input type="number" class="form-control" id="nota_matematica_create" name="nota_matematica">
            </div>

            <div class="form-group">
                <label for="nota_artes">Nota em Artes</label>
                <input type="number" class="form-control" id="nota_artes_create" name="nota_artes">
            </div>

            <div class="form-group">
                <label for="nota_religiao">Nota em Religião</label>
                <input type="number" class="form-control" id="nota_religiao_create" name="nota_religiao">
            </div>

            <div class="form-group">
                <label for="nota_edFisica">Nota em Educação Física</label>
                <input type="number" class="form-control" id="nota_edFisica_create" name="nota_edFisica">
            </div>

            <div class="form-group">
                <label for="nota_informatica">Nota em Informática</label>
                <input type="number" class="form-control" id="nota_informatica_create" name="nota_informatica">
            </div>

            <div class="form-group">
                <label for="nota_espanhol">Nota em Espanhol</label>
                <input type="number" class="form-control" id="nota_espanhol_create" name="nota_espanhol">
            </div>

        </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success">Salvar</button>
            </div>
          </form>
        </div>
      </div>
  </div>

<%- include("inc/footer") -%>

<script src="js/hcode-formsave.js"></script>
<script src="js/grid.js"></script>

<script>

new Grid({
  deleteUrl:'/notas/${data.id_aluno}',
  deleteMsg:'Deseja excluir as Notas do Aluno: ${data.nome_aluno}?', 
  updateMsg:'As Informações da Nota foram Atualizadas.',
  crateMsg :'A nota foi Aluno cadastrada com sucesso!' 
});


</script>
